*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: sans-serif;
}

#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 10px 7px 10px rgba(0,0,0,0.2);
}
.navbar{
    background-image: linear-gradient(to right ,#dab44b, #c7eb26);
    padding: 0;
}
.navbar-brand{
    font-size: 2.3rem;
    /* color: rgb(187, 60, 60); */
    padding-left: 2rem;
    font-weight: 600;
    font-style: italic;
    color: #444444 !important;
}
.navbar-nav li{
    padding: o 2rem;
    font-size: 1.5rem;
    padding-left: 2rem;
}
.navbar-nav li a{
    color: #444444 !important;
    text-align: left;
    float: right;
}
.nav-link:hover{
    color:#fff !important;
    transition: all 300ms ease-out;
}



/* <!-- header-section --> */

#header{
    background-image: linear-gradient(to left ,#dab44b, #c7eb26);
    padding-top: 5%;
    border-top-left-radius: 80% 10%;
}
.pro-title{
    font-size: 2.5rem;
    font-weight: 600;
    margin-top: 5rem;
    margin-bottom: 3rem;
    font-style: italic;
}
.pro-info{
    font-size: 1.5rem;
    margin-bottom: 3rem;
}
.play-btn{
    width: 3rem;
    margin: none;
}
#header a{
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 1.2rem;
    margin-top: 3rem;
}
.bottom-img{
    width: 100%;
}

/* services */

#services{
    padding: 6rem 0;
}
.title{
    font-weight: 600;
}
.title::before{
    content: "";
    background-image: linear-gradient(to left , #c7eb26,#dab44b);
    height: .3rem;
    width: 25rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(4rem);
}
.title::after{
    content: "";
    background-image: linear-gradient(to left , #879e22,#463609);
    height: .3rem;
    width: 20rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
    display: block;
    transform: translateY(1rem);
}
.service-img{
    width: 5rem;
    margin-top: 1.5rem;
}
.services{
    padding: 1.5rem;
}
#services img{
    background-color: #dab44b;
    border:6px solid #c7eb26;
    border-radius: 50%;
    /* margin-bottom: 2rem; */
} 
.services h4{
    padding: .7rem;
    margin-top: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    font-style: italic;
}
.btn{
    border: 3px solid #c7eb26;
    border-radius: 1.5rem;
    transition: all 300ms ease;
}
.btn:hover{
    transition: all 300ms ease;
    background-image: linear-gradient(to left ,#dab44b, #c7eb26);
}


/* about */



#about{
    background-image: linear-gradient(to right ,#dab44b, #c7eb26);
    padding-bottom: 3rem;
    padding-top: 3rem;
    border-top-left-radius: 80% 10%;
    border-bottom-right-radius: 80% 10%;
}
.about-title{
    font-size: 2rem;
    font-weight: 600;
    margin-top: 2rem;
}
#about ul li{
    margin: 1rem 0;
}

/* testimonials */


#testimonials{
    margin: 3rem 0;
}
.testimonials{
    border-left: 3px solid #c7eb26;
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.testimonials img{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
}
.user-details{
    display: inline-block;
    font-size: 1rem;
}

/* social-media */

#social-media{
    background: #f8f9fa;
    padding: 7rem 0;
}
#social-media p{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
}
.social-icons img{
    width: 5rem;
    transition: 0.5s;
}
.social-icons a:hover img{
    transform: translateY(-1rem);
}


/* contact */

#contact{
    color: var(--secondary-color);
    background-image: linear-gradient(to left ,#dab44b, #c7eb26);
}
.contact-img{
    width: 100%;
}
.contact-box{
    padding: 1.4rem;
}
.logo{
    margin-bottom: 2rem;
}
.contact-box .fas{
    margin-right: .8rem;
    font-size: 1.7rem;
    width: 3rem;
    height: 3rem;
    text-align: center;
    padding-top: .6rem;
    border-radius: 2px;
    background-image: linear-gradient(to left ,#dab44b, #c7eb26);
}
.last-btn{
    margin-top: 2.3rem;
}